body{

   background-color: rgb(44, 44, 44);

}

header{
    
    box-sizing: content-box;
    position: relative;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-image:  url(imagen.png);
    background-image:  url(imagen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}